<div class="top-section" id="side1">
    <div class="top-section-body">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="brand-heading">Bare<br>Faktura</h1>
                <p class="top-section-text">Enkel og <u>gratis</u> fakturering på nett.</p><br>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f| %>

                  <% unless devise_error_messages!.empty? %>
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <%= devise_error_messages! %>
                    </div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :email, class:"sr-only" %>
                    <div class="col-sm-offset-4 col-sm-4">
                      <%= f.email_field :email, class:"form-control", placeholder:'epost' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.label :password, 'Passord', class:"sr-only" %>
                    <div class="col-sm-offset-4 col-sm-4">
                      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:'passord' %>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4">
                      <%= f.submit "Logg Inn", class:'btn btn-default' %><br>
                    </div>
                  </div>
                      <%= link_to "Opprett Konto", new_user_registration_path %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <a class="glyph-link-down page-scroll" href="#side2"><i class="glyphicon glyphicon-download"></i></a>
        </div>
    </div>
</div>


<div class="middle-section" id="side2">
    <div class="middle-section-body">
        <a class="glyph-link-up page-scroll" href="#side1"><i class="glyphicon glyphicon-upload"></i></a>
        <div class="row">

            <div class="col-sm-offset-3 col-sm-6 text-left">
                <h3>Enkelt</h3>
                <p>
                    Bare Faktura er et effektivt og komplett faktureringsverktøy beregnet på selvstendig næringsdrivende og mindre bedrifter. Vårt mål er å gjøre din fakturering så ukomplisert som mulig.
                </p>
                <h3>Gratis</h3>
                <p>
                    Bare Faktura er helt gratis å bruke. Dersom du ønsker å teste tjenesten kan du registrere en konto og prøve deg frem så lenge du ønsker.
                </p>
                <h3>Sikkert</h3>
                <p>
                    All trafikk går (selvfølgelig) via krypterte forbindelser, og alle dine data blir sikkerhetskopiert daglig.
                </p>
            </div>
        </div>
        <a class="glyph-link-down page-scroll" href="#side3"><i class="glyphicon glyphicon-download"></i></a>
    </div>
</div>

<div class="third-section" id="side3">
    <div class="third-section-body">
        <a class="glyph-link-up page-scroll" href="#side2"><i class="glyphicon glyphicon-upload"></i></a>
        <div class="row">

            <div class="col-sm-offset-3 col-sm-6 text-left">
                <h3>Bruk tiden på viktigere ting</h3>
                <p>
                    Joda, det er viktig å fakturere, men ikke kast vekk tid på å navigere gjennom komplekse menyer i avanserte systemer du ikke trenger.
                <p>
                    Hos Bare Faktura får du alt du trenger for å fakturere raskt og enkelt: Ved hjelp av ditt kunde- og produktregister fyller du ut en faktura i løpet av sekunder. Nye kunder lagres automatisk ved første fakturering slik at du aldri trenger å gjenta deg selv.</p>
                <p>
                    Send fakturaen direkte til kunden via epost eller last ned en pdf. Oppdager du en feil lager du en kreditnota med ett klikk. Alle funksjoner du trenger er enkelt tilgjengelig i fakturalisten.
                </p>
                <p>
                    <%= link_to 'Registrer en konto', new_user_registration_path %> i dag og gjør din hverdag litt enklere.
                </p>
            </div>
            <div class="col-sm-3">&nbsp;</div>
        </div>
    </div>
</div>