<!DOCTYPE html>
<html lang="en">
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title><%= @invoice.to_s.capitalize %> fra <%= @invoice.user_name %></title>
</head>
<body>
    <h1 style="color: #015D70;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;margin: 0;text-align: left;line-height: 1.3;word-break: normal;font-size: 40px;">
        <%= @invoice.to_s.capitalize %>
    </h1>

    <% unless @message.blank? %>
        <p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
            <%= simple_format @message %>
        </p>
    <% end %>

    <p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
        <b><u>Oppsummering:</u></b><br>
        <%= @invoice.kreditnota ? 'Kreditnota' : 'Faktura' %>nummer: <%= @invoice.invoice_number %><br>
        Fra: <%= @invoice.user_name %><br>
        Forfallsdato: <%= @invoice.kreditnota ? '--/--/----' : @invoice.due_date.strftime('%d/%m/%Y') %><br>
        <% unless @invoice.kreditnota %>
        Kontonummer: <%= @invoice.user_bank_account %><br>
        <% end %>
        Totalt <%= @invoice.kreditnota ? 'kreditert' : 'å betale' %>:  <%= number_with_precision(@invoice.total, :precision => 2) %> <%= @invoice.currency %><br><br>
    </p>
    <p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
        ---<br>
        <%= @invoice.kreditnota ? 'Kreditnota' : 'Faktura' %> er vedlagt i pdf-format.<br>
        <em>Sendt med <a href="http://www.barefaktura.no" style="color: #015D70;text-decoration: none;">BareFaktura.no</a></em></p><p style="margin: 0;margin-bottom: 10px;color: #222222;font-family: &quot;Helvetica&quot;, &quot;Arial&quot;, sans-serif;font-weight: normal;padding: 0;text-align: left;line-height: 19px;font-size: 14px;">
    </p>
</body>
</html>