<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Send Faktura</h4>
    </div>
    <div class="modal-body">

        <% if @invoice.sends != 0 %>
            <div class="alert alert-danger" role="alert">
                Denne <%= @invoice.type %>en er allerede sendt. Er du sikker på at du vil sende på nytt?
            </div>
        <% end %>

        <%= form_tag(send_email_invoice_invoice_path) do %>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="muted">
                        <small>
                        <b>Til: </b><%= @invoice.client.name %> &lt;<%= @invoice.client.email %>&gt;<br>
                        <b>Fra: </b><%= @invoice.user.name %> &lt;<%= @invoice.user.email %>&gt;<br>
                        <b>Blindkopi: </b><%= @invoice.user.name %> &lt;<%= @invoice.user.email %>&gt;<br>
                        <b>Vedlegg: </b><%= @invoice.to_s %>.pdf
                        </small>
                    </div>
                </div>
                <div class="panel-body">

                    <h1><%= @invoice.to_s.capitalize %></h1>

                    <div class="form-group">
                        <%= text_area_tag 'message', (@invoice.notes + "\n\n" + "Mvh,\n" + @invoice.user.name), class: 'form-control', rows: 6,
                            placeholder: 'Beskjed til mottaker.', autofocus: true %>
                    </div>

                    <u><b>Oppsummering:</u></b><br>
                    <%= @invoice.type.capitalize %>nummer: <%= @invoice.invoice_number %><br>
                    Fra: <%= @invoice.user.name %><br>
                    Forfallsdato: <%= @invoice.kreditnota ? '--/--/----' : @invoice.due_date.strftime('%d/%m/%Y') %><br>
                    <% unless @invoice.kreditnota %>
                        Kontonummer: <%= @invoice.user.bank_account %><br>
                    <% end %>
                    Totalt <%= @invoice.kreditnota ? 'kreditert' : 'å betale' %>:  <%= number_with_precision(@invoice.total, :precision => 2) %> <%= @invoice.currency %><br><br>


                    <p>
                        ---<br>
                        <%= @invoice.type.capitalize %> er vedlagt i pdf-format.<br>
                        <em>Sendt med <a href="http://www.barefaktura.no">BareFaktura.no</a></em><p>
                    </p>


                </div>
            </div>

            <%= hidden_field_tag 'id', @invoice.id %>

            <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
            <%= submit_tag 'Send faktura', class: 'btn btn-primary' %>
       <% end %>

    </div>
</div>
