<h1><%= @user.name %></h1><br>
<%= link_to "Rediger Profil", edit_user_registration_path ,class:'btn btn-default btn-block' %>
<br>
<h3>Min Profil</h3>
<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>Neste fakturanummer: </strong><br><%= @user.next_invoice_number %>
    </p>
    <p>
      <strong>Navn: </strong><br><%= @user.name %>
    </p>
    <p>
      <strong>Email: </strong><br><%= @user.email %>
    </p>
    <p>
      <strong>Adresse: </strong><br><%= @user.address %>
    </p>
    <p>
      <strong>Telefon: </strong><br><%= @user.phone %>
    </p>
    <p>
      <strong>Org.nr: </strong><br><%= @user.foretaks_reg ? 'Foretaksregisteret' : '' %> <%= @user.org_number %> <%= @user.mva_reg ? 'MVA' : '' %>
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      <strong>Vår ref: </strong><br><%= @user.ref %>
    </p>
    <p>
      <strong>Bank: </strong><br><%= @user.bank_name %>
    </p>
    <p>
      <strong>Kontonummer: </strong><br><%= @user.bank_account %>
    </p>
    <p>
      <strong>SWIFT/BIC: </strong><br><%= @user.bank_swift %>
    </p>
    <p>
      <strong>IBAN: </strong><br><%= @user.bank_iban %>
    </p>
  </div>
</div>
<br>


<h3>Utestående</h3>
  <% if outstanding_count == 0 %>
    <p>Du har ingen utestående fakturaer.</p>
  <% else %>
    <p>
      Du har <%= pluralize(outstanding_count, 'faktura', 'fakturaer') %> utestående, hvorav <%= overdue_count %> er forfalt.
    </p>
    <br>
    <p>
      <strong>Forfalt beløp: </strong><%= number_to_currency(overdue_amount) %><br>
      <strong>Totalt utestående: </strong><%= number_to_currency(outstanding_amount) %><br>
    </p>
  <% end %>

<br>
<% unless @invoices.count == 0 %>
  <%= render partial: 'invoices/partials/invoice_list' %>
<% end %>