<h1><%= current_user.name %></h1><br>
<%= link_to "Rediger Profil", edit_user_registration_path ,class:'btn btn-default btn-block' %>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-condensed table-striped table-no-border">
      <tr>
        <td>Vår ref: </td>
        <td><%= current_user.ref %></td>
      </tr>
      <tr>
        <td><%= current_user.foretaks_reg ? 'Foretaksregisteret' : 'Org.nr' %>: </td>
        <td><%= current_user.org_number %> <%= current_user.mva_reg ? 'MVA' : '' %></td>
      </tr>
      <tr>
        <td>Epost: </td>
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td>Telefon: </td>
        <td><%= current_user.phone %></td>
      </tr>
      <tr>
        <td>Adresse: </td>
        <td><%= current_user.address %></td>
      </tr>
      <tr>
        <td>Bank: </td>
        <td><%= current_user.bank_name %></td>
      </tr>
      <tr>
        <td>Kontonummer: </td>
        <td><%= current_user.bank_account %></td>
      </tr>
      <tr>
        <td>SWIFT/BIC: </td>
        <td><%= current_user.bank_swift %></td>
      </tr>
      <tr>
        <td>IBAN: </td>
        <td><%= current_user.bank_iban %></td>
      </tr>
      <tr>
        <td>Neste fakturanummer: </td>
        <td><%= current_user.next_invoice_number %></td>
      </tr>
    </table>
  </div>
</div>
<hr class="divider">
<div class="row">
  <div class="col-xs-12">
    <h3>Oversikt Utestående Fakturaer</h3>
    <br>
    <% if @invoices.count != 0 %>
      <p>
        Du har <%= pluralize(@invoices.unpaid.count, 'faktura', 'fakturaer') %> utestående, hvorav <%= @invoices.overdue.count %> er forfalt.
      </p>
      <p>
        <strong>Totalt utestående: </strong><%= number_to_currency(unpaid_amount) %><br>
        <strong>Forfalt beløp: </strong><%= number_to_currency(overdue_amount) %><br>
      </p>
      <%= render partial: 'invoices/partials/invoice_list' %>
    <% else %>
      <p>Du har ingen utestående fakturaer.</p>
    <% end %>
  </div>
</div>