<h1><%= @client.name %></h1><br>
<p><%= link_to 'Rediger Kunde', edit_client_path(@client), class:'btn btn-default btn-block' %></p><br>

<div class="row">
  <div class="col-sm-4">
    <p>
      <strong><%= @client.name %></strong><br>
      Ref: <%= @client.ref %><br>
      <%= @client.address %>
    </p>
    <p>
      Leveringsadresse:<br>
      <%= @client.delivery_address %>
    </p>
    <p>
      Org.nr: <%= @client.org_nr %><br>
      Epost: <%= @client.email %>
    </p>
    <p>
      <strong>Totalt fakturert: </strong> <%= number_to_currency(@total_invoiced) %>
    </p>
  </div>
</div>
<hr class="divider">

    <div class="clearfix"></div>

    <!-- FAKTURALISTE -->
    <h3>Fakturaer til <%= @client.name %></h3>
    <%= render partial: 'invoices/partials/invoice_list' %>
