<h1><%= @client.name %></h1><br>
<p><%= link_to 'Rediger Kunde', edit_client_path(@client), class:'btn btn-default btn-block' %></p><br>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-condensed table-striped table-no-border">
      <tr>
        <td>Org.nr: </td>
        <td><%= @client.org_nr %></td>
      </tr>
      <tr>
        <td>Deres ref: </td>
        <td><%= @client.ref %></td>
      </tr>
      <tr>
        <td>Adresse: </td>
        <td><%= @client.address %></td>
      </tr>
      <tr>
        <td>Leveringsadresse: </td>
        <td><%= @client.delivery_address %></td>
      </tr>
      <tr>
        <td>Epost: </td>
        <td><%= @client.email %></td>
      </tr>
      <tr>
        <td>Totalt fakturert: </td>
        <td><%= number_to_currency(@client.total_invoiced) %></td>
      </tr>
    </table>
  </div>

</div>
<hr class="divider">
<div class="clearfix"></div>
<h3>Fakturaoversikt</h3>
<div id="invoice-list">
  <%= render partial: 'invoices/partials/invoice_list' %>
</div>
