  <div class="row">
    <div class="col-sm-12">
      <div class="btn-group pull-right">
        <button href="#" class="btn btn-default btn-sm" id="unpaid-selectbtn" onclick="invoices.invoiceList('unpaid')">Utestående</button>
        <button href="#" class="btn btn-default btn-sm" id="overdue-selectbtn" onclick="invoices.invoiceList('overdue')">Forfalt</button>
        <button href="#" class="btn btn-primary btn-sm" id="all-selectbtn" onclick="invoices.invoiceList('all')">Alle</button>
      </div>
    </div>
  </div>
  <!-- FAKTURALISTE -->
  <div class="table-responsive" id="invoice-table">

    <!-- Add some space if not paginating -->
    <% if @invoice_list.count > 25 %>
      <%= will_paginate @invoice_list, renderer: BootstrapPagination::Rails %>
    <% else %>
      <br><br>
    <% end %>

    <!-- Start invoice list table -->
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-left">#</th>
          <th class="text-left">Mottaker</th>
          <th class="text-left hidden-xs">Beskrivelse</th>
          <th class="text-left">Forfall</th>
          <th class="text-right">Beløp</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      <% if @invoice_list.count == 0 %>
        <tr>
          <td colspan="5">Ingen fakturaer matcher søket</td>
        </tr>
      <% else %>
        <% @invoice_list.each do |invoice| %>
          <tr class="<%= rowcolor(invoice) %> <%= invoice.due_date < Time.now ? 'overdue' : '' %>">
            <!-- # -->
            <td class="text-left"><%= invoice.invoice_number %></td>
            <!-- Kunde -->
            <td><%= link_to invoice.client.name, invoice.client %></td>
            <!-- Beskrivelse -->
            <td class="hidden-xs"><%= truncate(invoice.notes, :length => 50) %></td>
            <!-- Forfall -->
            <td>
              <% if invoice.kreditnota %>
                Kreditnota
              <% else %>
                <%= invoice.due_date.strftime('%d/%m/%Y') %>
              <% end %>
            </td>
            <!-- Beløp -->
            <td class="text-right"><%= number_with_precision(invoice.total, :precision => 2) %> <%= invoice.currency %></td>
            <!-- Meny -->
            <td class="text-right">
              <div class="btn-group">
                <!-- Popover -->
                <%= link_to 'Meny', 'javascript://', { 'title'          => "#{invoice.to_s.capitalize}",
                                           'tabindex'       => '0',
                                           'data-container' => "body",
                                           'class'          => "btn btn-default btn-xs has-popover",
                                           'role'           => 'button',
                                           'data-html'      => 'true',
                                           'data-placement' => "left",
                                           'data-trigger'   => 'focus',
                                           'data-content'   => "#{render 'invoices/partials/invoice_menu', invoice: invoice}" } %>
                <!-- Marker Betalt -->
                <%= link_to set_paid_invoice_path(invoice), title: "Marker som betalt/ikke betalt",
                                                            class: "btn btn-default btn-xs",
                                                            id: "#{invoice.id}-paid-button" do %>
                  <i class="glyphicon glyphicon-ok-circle <% unless invoice.paid %> unpaid <% end %>"></i>
                <% end %>
                </div>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
