<div class="summary" id="summary">
  <div class="content">
    <div class="row">
      <div class="col-sm-12">
        <p class="label <%= overdue_label_color %>">
          Forfalt: <%= @invoices.overdue.count %> (<%= subtotal(@invoices.overdue) %>)
        </p>
        <p class="label label-warning">
          Utestående: <%= @invoices.unpaid.count %> (<%= subtotal(@invoices.unpaid) %>)
        </p>
      </div>
    </div>
  </div>
</div>