<nav class="navbar navbar-default navbar-fixed-top navbar-custom" role="navigation">

  <div class="container-nav">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">BareFaktura</a>
    </div>

    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <% if signed_in? %>
          <li class="<%= params[:controller] == 'invoices' ? 'active' : '' %>"><%= link_to 'Fakturaliste', invoices_path %></li>
          <li class="<%= params[:controller] == 'clients' ? 'active' : '' %>"><%= link_to 'Kunderegister', clients_path %></li>
          <li class="<%= params[:controller] == 'products' ? 'active' : '' %>"><%= link_to 'Produktregister', products_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="<%= params[:controller] == 'static_pages' && params[:action] == 'help' ? 'active' : '' %>"><%= link_to 'Hjelp', static_pages_help_path %></li>
        <% if signed_in? %>

          <li class="dropdown">
            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="navbar-link">
              <%= current_user.name %> <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu">
              <li><%= link_to "Min Profil", current_user %></li>
              <li><%= link_to "Logg Ut", destroy_user_session_path, method: :delete %></li>
              <% if can? :update, @user %>
                <li class="divider"></li>
                <li><%= link_to "Admin Side", admin_root_path %></li>
              <% end %>
            </ul>
          </li>
        <% else %>
            <li ><%= link_to 'Logg Inn', new_user_session_path, class:"navbar-link" %></li>
            <li><%= link_to 'Registrer Konto', new_user_registration_path, class:"navbar-link" %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>